@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: Arial, sans-serif;
}

/* Style for the Menu Button */
/* Sidebar styling */
.sidebar {
    position: fixed;
    left: -300px; /* Hidden by default */
    top: 0;
    width: 250px;
    height: 100%;
    background-color: #333;
    color: white;
    transition: left 0.3s;
    padding-top: 20px;
    z-index: 100; /* Ensure sidebar is above other elements */
  }
  
  /* Style for the menu button */
  .menuButton {
    background-color: rgba(241, 226, 226, 0.897);
    color:black;
    padding: 10px;
    border: none;
    cursor: pointer;
  }
  
  /* Style for the close button */
  .closeButton {
    background-color: #ff3b3b;
    color: white;
    border: none;
    padding: 5px;
    cursor: pointer;
  }
  
  /* Toggle sidebar visibility */
  .sidebar.active {
    left: 0;
  }
  
  /* Sidebar header styling */
  .header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
  }
  
  /* Language toggle styling */
  .languageToggle button {
    color: white;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 14px;
  }
  
  .menu {
    list-style-type: none;
    padding: 0;
  }
  
  .menu li {
    padding: 15px;
    border-bottom: 1px solid #444;
    cursor: pointer;
  }
  
  .menu li:hover {
    background-color: #555;
  }
  